header {
    position: absolute;
    top: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    /* background: #8c1515 transparent; */
    /* background-color: #F7F1E1; */
    height: 60px;
    z-index: 10;
  }
  
  .header-logo {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #fde74c;
  }
  
  .header-logo img {
    border-radius: 50%;
    height: 50px;
    width: 50px;
  }
  
  .logo-text h1 {
    font-size: 20px;
    margin: 0;
    line-height: 1;
  }
  
  .logo-text small {
    display: block;
    font-size: 12px;
    color: #fff;
  }
  
  .nav ul {
    display: flex;
    gap: 15px;
    margin: 0;
    padding: 0;
  }
  
  .nav li {
    list-style-type: none;
  }
  
  .nav li a {
    color:  #fde74c;
    /* background-color: #fde74c; */
    border-radius: 10px;
    padding: 6px 10px;
    text-decoration: none;
    font-weight: lighter;
    transition: background 0.3s ease;
    border: 2px solid #f3fbfa;
    color: white;
    
   
  }
  
  .nav li a:hover {
    box-shadow: 0 0 20px rgba(243, 218, 33, 0.8);

   
  }
  
  /* Mobile Responsive */
  @media (max-width: 768px) {
    .nav {
      display: none;
    }
  
    header {
      flex-direction: column;
      align-items: flex-start;
      height: auto;
    }
  
    .header-logo {
      margin-bottom: 10px;
    }
  }
  